a {
  text-decoration: none;
}

body {
  background: #a6f77b;
  background-repeat: no-repeat;
  padding-left: 4%;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 450px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
  float: left;
}

#details-card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 450px;
  margin: 6rem auto 8.1rem auto;
  width: 66%;
  float: left;
}

#space-card{
  float: left;
  padding: 2%;
}

#card-content {
  padding: 12px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 16px;
  padding-top: 12px;
  text-align: center;
}

#signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

.dashboard-menu-btn {
  background: #2dbd6e;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 46px;
  margin: 0 auto;
  margin-top: 26px;
  width: 260px;
}

.course-btn {
  background: #2dbd6e;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 46px;
  margin: 0 auto;
  margin-top: 26px;
  width: 86%;
}

#update-password-btn {
  background: #054120;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 8px #073f16;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 46px;
  margin: 0 auto;
  margin-top: 40px;
  width: 260px;
}

#submit-btn:hover {
  background: #24c64f;
  box-shadow: 0px 1px 18px #24c64f;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  background: #2ec06f;
  height: 1px;
  width: 100%;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: #a6f77b;
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}